<%- include('../partials/header') %>

<h1>Edit Event</h1>
<form action="/events/<%= event._id %>?_method=PUT" method="POST">
    <label>Event Title:
        <br><input type= "text" name="title" value="<%= event.title %>">
    </label><br>
    <label>Date:
        <br><input type="date" name="date" value="<%= event.date %>">
    </label><br>
    <label>Location:
        <br><input type="text" name="location" value="<%= event.location %>">
    </label><br>
    <label>Description:
        <br><input type="text" name="description" value="<%= event.description %>">
    </label><br>
    <br><button type="submit">UPDATE EVENT</button>
</form>

<%- include('../partials/footer') %>