<%- include('../partials/header') %>

<h1>Events</h1>

<table>
  <thead>
    <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <!-- <th>Guests</th> -->
        <th>Created By</th>
      </tr>
  </thead>
  <tbody>
    <% events.forEach(function(e) { %>
      <form>
        <tr>
          <td><%= e.title %></td>
          <td><%= e.date.toLocaleDateString("en-US", {timeZone: "UTC"}) %></td>
          <td><%= e.location %></td>
          <td><%= e.description %></td>
          <td class="event-user"><img alt="avatar" src="<%= e.userAvatar%> " referrerpolicy="no-referrer" > <%= e.userName %></td>
        </tr>
      </form><br> 
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>