<%- include('../partials/header') %>

<h1>My Events</h1>

<table>
  <thead>
    <br><tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
    </tr>    
  </thead>
  <tbody>
    <% events.forEach(function(e) { %>
        <tr>
          <td><%= e.title %></td>
          <td><%= e.date.toLocaleDateString() %></td>
          <td><%= e.location %></td>
          <td><%= e.description %></td>
        <br><form action="/events/<%=e.id%>/edit" METHOD="GET">
            <button type="submit">Update Event</button>
        </form>
        <form action="/myevents/<%= e.id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
        </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>