<%- include('../partials/header') %>

<h1>My Events</h1>

<table>
  <thead>
    <br><tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>Need to Edit?</th>
        <th>Cancel or Done?</th>
    </tr>    
  </thead>
  <tbody>
    <% events.forEach(function(e) { %>
        <tr>
          <td class="data"><%= e.title %></td>
          <td class="data"><%= e.date.toLocaleDateString("en-US", {timeZone: "UTC"}) %></td>
          <td class="data"><%= e.location %></td>
          <td class="data"><%= e.description %></td>
        <br><form action="/events/<%=e.id%>/edit" METHOD="GET">
          <td><button type="submit">Update Event</button></td>
        </form>
        <form action="/myevents/<%= e.id %>?_method=DELETE" method="POST">
            <td><button type="submit">Delete</button></td>
        </form><br>
        </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>